if `${success_msg}`
   div#msg.bg-green-100.border-l-4.border-green-500.text-green-700.p-4.mb-4
      p.font-bold Successful
      p #{success_msg}

if errors
   each error in errors
      div.msgs.bg-red-100.border-l-4.border-red-500.text-red-700.p-4.mb-4
         p.font-bold Error
         p #{error.text}

if `${error_msg}`
   div#msg.bg-orange-100.border-l-4.border-orange-500.text-orange-700.p-4.mb-4
      p.font-bold Error
      p #{error_msg}

if `${error}`
   div#msg.bg-orange-100.border-l-4.border-orange-500.text-orange-700.p-4.mb-4
      p.font-bold Error
      p #{error}